APP_NAME=SellOn
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_URL=""
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sellon_testing
DB_USERNAME=
DB_PASSWORD=

BCRYPT_ROUNDS=4
CACHE_STORE=array
SESSION_DRIVER=array
MAIL_MAILER=array
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=null
